/********** Base styles **********/
* {
    box-sizing: border-box;
}
 
body {
    background-color: cornflowerblue;
    padding: 10px;
}

h1 {
    padding: 5px;
    text-align: center;
    font-family: "Comic Sans Ms";
    font-size: 2rem;
}



.row {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

.row h1{
    margin: 0;
    float: right;
    font-family: 'Montserrant', sans-serif;
}

#sect-1 h1{
    background-color:  #f542c8;
    color: yellow;
}

#sect-2 h1{
    background-color:  #5ef784;
    color: #a35ef7;
}

#sect-3 h1{
    background-color:  #f7bd5e;
    color: #000;
}



.col-lg-12,
.col-md-6,
.col-sm-4 {
    
    margin: 0;
}

.wrapper {

    background-color: aqua;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
}

p{
    font-size: 1rem;
    clear: right;
    margin: 10px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 5px;
    
}






@media(min-width: 992px){
    .col-sm-4 {
        width: 33.33%;
        float: right;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .col-md-6 {
        width: 50%;
        float: right;
    }

    .col-lg-12 {
       width: 100%;
       clear: both;
       position: relative;
       top: 0.5rem;
    }
}
