* {
    margin: 0px;
    font-family: 'Kumbh Sans', sans-serif;}

body {
    background-color: 	#FFFF99;
}

.row {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    display: inline-block;
    width: 100%;
 
}

.wrapper {
    background-color: #FFFF94;
    border: 1px solid #FFFF50;
    margin: 5px;
}

.wrapper p {
    font-size: 1.2em;
    padding: 10px;
    clear: both;
}

.wrapper h1 {
    font-size: 2rem;
    padding: 5px;
    float: right;

}

@media (min-width: 992px){
  .col-lg-4{
    display: inline-block;
    width: 33%;
  }

}

@media(min-width: 768px) and (max-width: 991px){
    .col-md-6 {
        width: 50%;
        float: right;
    }

    .col-md-12 {
        width: 100%;
        clear: both;
    }
}

@media (max-width: 767px){
    .col-sm-12 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}





